<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreeCRM App Test Suite">
  
  <listeners>
  		<listener
  			class-name="com.app.qa.extentReportListener.ExtentReportListener" />
  </listeners>
  <test name="FreeCRM App Test Cases">
      <classes>
      	<class name="com.app.qa.tests.LoginPageTest"/>
      	<!--<class name="com.app.qa.tests.HomePageTest"/>
      	<class name="com.app.qa.tests.ContactsPageTest"/> -->
      </classes>
  </test> <!-- Test --> 
</suite> <!-- Suite -->